body{ background: url(/img/stadium-3-474x293.jpg); background-size: cover;}
@media (min-width: 474px){ body { background: url(/img/stadium-3-474x293.jpg);} }
@media (min-width: 474px){ body { background: url(/img/stadium-3-474x293.jpg);} }
@media (min-width: 460px){ body { background: url(/img/stadium-3-460x285.jpg);} }
@media (min-width: 320px){ body { background: url(/img/stadium-3-320x198.jpg);} }
