body{ background: url(/img/stadium-2-474x263.jpg); background-size: cover;}
@media (min-width: 474px){ body { background: url(/img/stadium-2-474x263.jpg);} }
@media (min-width: 460px){ body { background: url(/img/stadium-2-460x256.jpg);} }
@media (min-width: 320px){ body { background: url(/img/stadium-2-320x178.jpg);} }
